.details-wrap {
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.details {
	position: relative;
	width: 20%;
	height: 400px;
	transition: width 0.5s;
	&:hover {
		width: 880px;
	}
}
.details[open] {
	.details-summary{
		&::before {
			display: none;
		}
	}
}
.details-summary {
	display: block;
	position: absolute;
	color: #fff;
	font-size: 18px;
	height: 100%;
	width: 100%;
	text-align: center;
	cursor: pointer;
	&::before {
		content: '';
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 2;
		}
	&:hover {
		&::before {
			  display: none;
		}
	}
	img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;

	}
}
.details-summary::-webkit-details-marker {
	display: none;
 }
.details-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	border-radius: 30px;
	background-color: rgba(1, 1, 1, 0.7);
	padding: 20px;
	z-index: 1;
}
#goods p{
	margin: 20px 0;
	font-size: 20px;
}