body {
    background-attachment: fixed;
    background-image: url(../images/togakure.jpg) !important;
    background-size: cover;
    background-position: center;
    position:relative;
    font-family:"FOT-筑紫Aオールド明朝 Pr6 R",serif;
    font-size:16px;
    font-weight:500;color:#f5f2f2;
    line-height:1.8;
    letter-spacing:.1em;
    margin: 0px 50px;
    
}
header {
    width: 100%; 
    padding: 10px;
    position: fixed;
    z-index: 100;  
}

.header__logo {
    display: block;
    padding: 0px;
    width: 110px;
    height: 3px;
    z-index: 80
}
.logo {
    font-size: larger;
    color: #f8f8f8;
}
ul {
    list-style: none;
}

/*------------ハンバーガーメニュー----------------*/
a {
    text-decoration: none;
}
.hamburger {
    display: block;
    height: 60px;
    margin-left: auto;
    margin-right: 120px;
    position: relative;
    z-index: 99;
    width: 60px;
    border: none;
    background-color: transparent;
}
.hamburger.-active .hamburger__line {
    background-color: transparent;
}
.hamburger.-active .hamburger__line::before {
    top: 0;
    transform: rotate(45deg);
}
.hamburger.-active .hamburger__line::after {
    top: 0;
    transform: rotate(-45deg);
}
.hamburger.-active .hamburger__text::before {
    content: '閉じる';
}
.hamburger__line {
    display: block;
    height: 2px;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    background-color:#f8f8f8;
    transition: 0.6s;
}
.hamburger__line:before,.hamburger__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #f8f8f8;
    transition: inherit;
}
.hamburger__line:before {
    top: -6px;
}
.hamburger__line:after {
    top: 6px;
}
.hamburger__text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.hamburger__text::before {
    content: "メニュー";
    text-align: center;
    color: #f8f8f8;
    font-size: 10px;
    font-weight: 900;
}


.header__nav-area {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 98;
    height: 100vh;
    width: 300px;
    visibility: hidden;
    padding-top: 60px;
    background-color: rgba(214, 0, 0, 0.8);
    transition: 1s;
}
.header__nav-area.-active {
    box-shadow: 90px 50px 50px 100px rgba(0, 0, 0, 0.4);
    right: 0;
    visibility: visible;
}
.global-navigation {
    padding-top: 40px;
    padding-right: 25px;
    padding-bottom: 120px;
}
.global-navigation__list > li {
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
}
.global-navigation__list > li + li {
    margin-top: 20px;
}
.global-navigation__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 900;
    transition: color 0.6s;
    font-size: 20px;
}
.global-navigation__link:hover {
    color: #ef9b9b;
    transform: scale(1.1);
    opacity: 0.8;
}
.global-navigation__link.-accordion {
    position: relative;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
}
.global-navigation__link.-accordion::after {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 2px;
    background-color: #fff;
    transform: translateY(-50%);
    transition: transform 0.6s;
}
.global-navigation__link.-accordion::before {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    background-color: #fff;
    transform: translateY(-50%);
}
.global-navigation__link.-active::after {
    transform: translateY(-50%) rotate(-90deg);
}
.accordion {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.6s;
}
.accordion.-active {
    height: auto;
    padding-top: 30px;
    visibility: visible;
}
.accordion__list li {
    font-size: 15px;
}
.accordion__list li + li {
    margin-top: 21px;
}
.accordion__link {
    color: #fff;
}
/*-----------------------------------------------*/
* { 
    box-sizing: border-box; 
     
}
#sem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 150px;
    height: 30vh;
    background-color: rgba(2, 2, 2, 0.7);
}

#sem p {
    font-size: 40px;
    line-height: 2;
}





.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0.7);

    gap: 20px;
    padding: 20px;
}
.gallery-item {
    width: 200px;
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s;
}
.gallery-item img:hover {
    transform: scale(1.05);
}
.like-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.like-button:hover {
    background-color: #ff3333;
}
.like-count {
    font-size: 14px;
    color: #dedede;
}

/* モーダル（画像拡大） */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}



#arb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding-bottom: 35px;
    flex-direction: column;
    background-color: rgba(1, 1, 1, 0.7);
    /*box-shadow: 0px 20px 50px 50px rgba(0, 0, 0, 0.8);*/
}
.btn {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff4d4d;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s;
}
.btn:hover {
    background-color: #8B0000;
    
}
#button {
    padding: 0px 150px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.8);

}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    color: white;
    padding: 10px 0;
    width: 100%;
    height: 30vh;
    border-top: 2px solid #8B0000;
    
}
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footer_logo {
    width: 150px;
    font-size: 50px;
    color: #ffffff;
    position: relative;
    
    
}

#primary_nav_wrap
{
  margin-bottom: 50px;
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#ffffff;
  text-decoration:none;
  font-weight:700;
  line-height:32px;
  padding:0 15px;
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#000000
}

#primary_nav_wrap ul li:hover
{
  background:#000000
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#000000;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}


.section_img{
    display: flex;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0.8);
    padding: 50px 150px;
    height: 70vh;
    
    
}
.section_img img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
/*-------神社紹介------*/
.section_jinjya {
    display: flex;
    background-color: rgba(1, 1, 1, 0.8);
    padding: 0px 200px;
    padding-bottom: 50px;
    flex-direction: column;
}

section p{
    font-size: 20px;
}

.jinjya_nav {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    z-index: 1000;
}

.jinjya_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.jinjya_nav li {
    margin: 10px 0;
}

.jinjya_nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.jinjya_nav a:hover {
    color: #ff3333;
    border-bottom: 1px solid #ff3333;
    transform: scale(1.1);
}

.jinjya_contents {
    padding-top: 50px;
}
.jinjya_contents div {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.jinjya_contents h2 {
    font-size: 35px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
}
.jinjya_contents p {
    width: 37%;
}
.jinjya_map {
    border-bottom: 1px solid #ddd;
}
.jinjya_map iframe{
    width: 60%;
}


.section_title {
    margin-bottom: 10px;
    font-size: 35px;
    border-top:1px solid #ddd; 
    border-bottom: 1px solid #ddd;   
}


.section_content {
    padding-bottom: 30px;   
}

.jinjya_map a {
    text-decoration-line: underline;
    color: #f8f8f8;
    transition: 0.8s;
    
}

.jinjya_map a:hover {
    color: #ff3333;
}

.jinjya_map p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.section_content img {
    width: 60%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    
}
/*-----------------------------------------------*/
#sem2 {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    padding: 70px 150px;
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.8);
}

#sem2 p{
    font-size: 45px;
}